<div ng-init="pet.init()" class="control">
  <div class="modal-header">
    <span class="modal-title">{{pet.state}} Pet</span>
    <i class="clickable fa fa-times fa-2x pull-right color-primary" aria-hidden="true" ng-click="pet.cancel()"></i>
  </div>
  <div class="modal-body">
      <ng-form name="pet.formPet" >
        <fieldset ng-disabled="pet.isViewMode()">
          <div class="form-group" ng-class="(pet.formPet.submitted && pet.formPet.name.$invalid) ? 'has-error' : ''">
            <label class="control-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" data-ng-model="pet.petModel.name" pattern=".{1,50}" required>
            <span class="text-error" data-ng-show="pet.formPet.submitted && pet.formPet.name.$invalid">Name is required ( max 50 characters )</span>
          </div>
          <div class="form-group" ng-class="(pet.formPet.submitted && pet.formPet.status.$invalid) ? 'has-error' : ''">
            <label class="control-label" for="status">Status</label>
            <select class="form-control" id="status" name="status" ng-options="status for status in pet.status" data-ng-model="pet.petModel.status" required></select>
            <span class="text-error" data-ng-show="pet.formPet.submitted && pet.formPet.status.$invalid">Status is required</span>
                    
          </div>
          <div class="form-group" ng-class="(pet.formPet.submitted && pet.formPet.category.$invalid) ? 'has-error' : ''">
            <label class="control-label" for="category">Category</label>
            <input type="text" class="form-control" id="category" name="category" placeholder="category" data-ng-model="pet.petModel.category.name" required>
            <span class="text-error" data-ng-show="pet.formPet.submitted && pet.formPet.category.$invalid">Category is required ( max 50 characters )</span>
          </div>
          <div class="form-group" ng-show="!pet.isViewMode()">
            <label class="control-label" for="tags">Tags</label>
            <tags-input data-ng-model="pet.petModel.tags" display-property="name"></tags-input>
          </div>
          <div class="form-group" ng-show="pet.isViewMode()">
            <label class="control-label" for="tags">Tags</label>
            <input type="text" class="form-control" id="tags" ng-value="pet.displayTags(pet.petModel.tags)"></input>
          </div>
          <div class="row" ng-show="pet.petModel.photoUrls != null && pet.petModel.photoUrls.length > 0">
              <div class = "col-sm-6 col-md-3" ng-repeat="photo in pet.petModel.photoUrls">
                  <div class = "thumbnail">
                    <img ng-src = "{{photo}}" >
                  </div>
              </div>
          </div>
        </fieldset>
    </ng-form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button"  ng-click="pet.ok()">{{pet.getOkButton()}}</button>
    <button ng-show="!pet.isViewMode()" class="btn btn-primary" type="button" ng-click="pet.cancel()">Cancel</button>
  </div>
</div>
