<div ng-init="main.init()" class="control">

  <div class="row action-bar">
    <div class="col-xs-12">
        <button class="btn btn-primary" type="button" ng-click="main.openModalPet()"><span><i class="fa fa-plus" aria-hidden="true"></i> Add Pet</span></button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table st-table="main.displayListPets" st-safe-src="main.listPets" class="table table-striped table-no-border">

        <thead>
          <tr>
            <th class="sortable" st-sort="name">Name</th>
            <th class="sortable" st-sort="status">Status</th>
            <th class="sortable" st-sort="category">Category</th>
            <th class="sortable" st-sort="tags">Tags</th>
          </tr>
          <tr>
            <th>
              <input st-search="name" placeholder="name" class="input-sm form-control" type="search" />
            </th>
            <th>
              <input st-search="status" placeholder="status" class="input-sm form-control" type="search" />
            </th>
            <th>
              <input st-search="category" placeholder="category" class="input-sm form-control" type="search" />
            </th>
            <th>
              <input st-search="tags" placeholder="tags" class="input-sm form-control" type="search" />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="main.displayListPets == null || main.displayListPets.length == 0">
            <td colspan="4"> Pas de données </td>
          </tr>
          <tr ng-repeat="pet in main.displayListPets">
            <td>{{pet.name}}</td>
            <td>{{pet.status}}</td>
            <td>{{pet.category}}</td>
            <td>{{pet.tags}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="text-center">
              <div st-pagination="" st-items-by-page="main.lineByPage" st-template="views/partials/pagination.html"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>