<div data-ng-init="main.init()" class="control">

  <div class="row action-bar">
    <div class="col-xs-12">
        <button class="btn btn-primary" type="button" data-ng-click="main.addPet()"><span><i class="fa fa-plus" aria-hidden="true"></i> Add Pet</span></button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table id="table-pets" st-table="main.displayListPets" st-safe-src="main.listPets" class="table table-striped table-no-border">

        <thead>
          <tr>
            <th class="sortable" st-sort="name">Name</th>
            <th class="sortable" st-sort="status">Status</th>
            <th class="sortable" st-sort="category">Category</th>
            <th class="sortable" st-sort="tags">Tags</th>
            <th>Actions</th>
          </tr>
          <tr>
            <th>
              <input st-search="name" placeholder="name" class="input-sm form-control" type="search" />
            </th>
            <th>
              <input st-search="status" placeholder="status" class="input-sm form-control" type="search" />
            </th>
            <th>
              <input st-search="category.name" placeholder="category" class="input-sm form-control" type="search" />
            </th>
            <th >
              <input st-search="tags" placeholder="tags" class="input-sm form-control" type="search" />
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-show="main.displayListPets == null || main.displayListPets.length == 0">
            <td colspan="5"> Pas de données </td>
          </tr>
          <tr data-ng-repeat="pet in main.displayListPets">
            <td>

              <span data-ng-if="pet.photoUrls != null && pet.photoUrls.length > 0">
                <img id="avatar-pet" data-ng-src="{{pet.photoUrls[0]}}" class="img-circle"> 
              </span>

              {{pet.name}}
            </td>
            <td valign="middle">{{pet.status}}</td>
            <td>{{pet.category.name}}</td>
            <td>{{main.displayTags(pet.tags)}}</td>
            <td>
              <i class="fa fa-trash clickable" data-ng-click="main.removePet(pet.id)" aria-hidden="true"></i>
              <i class="fa fa-eye clickable" data-ng-click="main.viewPet(pet)" aria-hidden="true"></i>
              <i class="fa fa-pencil clickable" data-ng-click="main.editPet(pet)" aria-hidden="true"></i>
              <i class="fa fa-file-image-o clickable" data-ng-click="main.addImage(pet)" aria-hidden="true"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="main.lineByPage" st-template="views/partials/pagination.html"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>